body {
  background-color: rgb(163, 59, 59);
}

.previews {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview {
  object-fit: none;
  object-position: 0px 0px;
  width: 116px;
  height: 116px;
}

.preview:hover {
  object-position: 0px -116px;
}

.preview:active {
  object-position: 0px -232px;
}
