body {
  background-color: #303132;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#name {
  font-family: Verdana, sans-serif;
  text-align: left;
  color: GhostWhite;
  text-shadow: 1px 1px 2px black;
}

#description {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: GhostWhite;
  text-shadow: 1px 1px 2px black;
}

.page {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.previews {
  display: grid;
  grid-template-rows: repeat(auto-fill, 116px);
  grid-template-columns: repeat(auto-fill, 116px);
  max-width: 464px;
  padding: 20px;
  background-color: rgb(163, 59, 59);
  border: 1px solid #7f1b1b;
}

.preview {
  object-fit: none;
  object-position: 0px 0px;
  width: 116px;
  height: 116px;
}

.preview:hover {
  object-position: 0px -116px;
}

.preview:active {
  object-position: 0px -232px;
}
